body {
    background-color: #5067d2;
  }
  
  
  header{
   background-color: #5067d2;
   height: 100px;
   font-size: 1pt;
   font-weight: bold;
   text-align: center;
  }
  
  
  #cont {
      padding: 47px;
      text-align: center;
    background-color: #bfc1d8;
    width: 35rem;
  }
  
  
  p {
    font-size: 20px;
    font-weight: bold;
  }
  
  footer{
      background-color: #5067d2;
      height: 80px;
  }